/* your styles go here */
.dashboard-counts {
    margin-bottom: 61px;
}
/*top-----------navbar-------------*/
li.nav-item.dropdown.user_img_nav img {
    width: 35px;
    border-radius: 50%;
}
/*-----------------------index--------------------*/
.dashboard{
    margin-bottom: 100px;
}
.sod_main_col {
    padding: 30px;
}
.sod_main h1 {
    box-shadow: 5px 5px 6px 0px #efefef;
    background: #fff;
    padding: 100px 20px;
}
.sod_main h1 a{
    font-size: 35px;
    text-decoration: none;
}

/*-----------------pricing--------table---------------*/
.basic_plan.text-center h4 {
    padding: 20px;
}
.see_more_price a {
    width: 100%;
    font-size: 20px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*------------------------basic----------pro----------premium-----------*/

img.avatar {
    width: 35px;
}
ul.list-inline li {
    float: left;
    padding: 5px;
}
section.product_main {
    background: #fff;
    border: 1px solid #cccccc4f;
    padding: 25px;
    margin: 20px 20px 120px;
}
.search_basic {
    width: 25%;
    margin-top: 5px;
}
.x_title h1 {
    margin-top: 25px;
}
/*----------------------add-new-user--add-update--product-------------*/
.x_title {
    border-bottom: 2px solid #efefef;
    padding-bottom: 5px;
}
.x_content {
    margin-top: 10px;
}
.text-right a {
    color: #fff !important;
}
.image_upform{
    max-width:180px;
}
.image_upload_form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/*<------------product----------view------------>*/
.basic_prd_img{
    padding:15px;
    border:1px solid #ccc;
}
.img_desc{
    margin-top:10px;
}
.basic_prd_desc {
    padding: 10px;
    border: 1px solid #efefef;
    background-color: #fbfbfb;
}
.sale_prd_head{
    margin-top:20px;
    margin-bottom:20px;
}
.label-danger {
    background-color:rgb(29, 162, 193);
    color: #fff;
}

.label1 {
    padding: .2em .6em .3em;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-radius: .25em;
}
.highlight{
    padding: .2em .6em .3em;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    border-radius: .25em;
}
/*<-----------------order------------management--------------------->*/
.hovereffect img {
    width: 170px;
    padding: 10px;
}
.amount_tag p {
    color: #c31313;
    font-weight: 600;
}
a.cust_name {
    font-size: 15px;
    font-weight: 600;
}
a:not([href]):not([tabindex]) {
    color: #337ab7;
}
/*<------------Order----Desc------------>*/
.order_prd_main {
    border: 1px solid #cccccc52;
    padding: 20px;
}
.user_ord_img img {
    width: 100px;
}
.cust_order_desc {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cus_ord_detail {
    margin-top: 10px;
}
.product_basic{
    margin-top:50px;
}
.product_basic:nth-child(odd) {
    padding-top: 10px;
    padding-bottom: 15px;
    background: linear-gradient(to right,#9e9e9e2e , #fff);
}
/*<----------common-basic-pro-premium-order-cancel-status----------------->*/
.row.product_desc_row {
    background: #efefefb3;
    margin-top: 50px;
    padding: 20px 0 15px;
    margin-bottom: 25px;
    color: #337ab7;
}
.pr_desc_button a {
    font-size: 12px;
}
.product_descrow{
    margin-bottom:30px;
}
.product_descrow:nth-child(odd) {
    padding: 20px 0;
    background: linear-gradient(to right,#9e9e9e2e , #fff);
}

/*<------------inbox------------custome_mgm---------------->*/

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}
.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}
.inbox-body {
    padding: 20px;
}
.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    padding: 0 10px;
}

.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}
ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}
.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}
.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}
.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}
.inbox-pagination a.np-btn {
    margin-left: 5px;
}
.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}
.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}
.inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}
.btn-send, .btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}
.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}
.modal-header h4.modal-title {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}
.modal-body label {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}
.sender-info {
    margin-bottom: 20px;
}
.sender-info img {
    height: 30px;
    width: 30px;
}
.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}
.view-mail a {
    color: #ff6c60;
}
.attachment-mail {
    margin-top: 30px;
}
.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}
.attachment-mail ul li img {
    width: 100%;
}
.attachment-mail ul li span {
    float: right;
}
.attachment-mail .file-name {
    float: left;
}
.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.files .progress {
    width: 200px;
}
.fileupload-processing .fileupload-loading {
    display: block;
}
* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}
* + html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}
td.view-message a {
    color: #999;
    text-decoration: none;
}
@media (max-width: 767px) {
    .files .btn span {
        display: none;
    }
    .files .preview * {
        width: 40px;
    }
    .files .name * {
        display: inline-block;
        width: 80px;
        word-wrap: break-word;
    }
    .files .progress {
        width: 20px;
    }
    .files .delete {
        width: 60px;
    }
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/*<--------------Containt--Mail--inbox--------------->*/
.tab-content>.active {
    margin-top: 20px;
    display: block;
    border: 1px solid #ccc;
    padding: 15px;
}
.btn-group>.btn:first-child {
    margin-right: 15px;
}
.reply-group {
    padding-bottom: 12px;
    border-bottom: 1px solid #efefef;
}
.button-group a {
    color: #fff !important;
}
a.atch-thumb img {
    width: 150px;
    border: 1px solid #ccc;
    padding: 5px;
}
.reply_forward {
    margin-top: 50px;
}
.reply_forward li a {
    text-decoration: none;
}
.reply_msg {
    margin-top: 15px;
}
.reply-form-group {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
/*---------------------job---------seeker-------------------*/
.seeker_img img {
    width: 120px;
}
/*--------------add-new-job----------------------*/
.job_bdr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
/*-----------view-job-post-description--------------*/
.cmp_prf{
    margin-top: 50px;
}

/*--------------seeker--------------profile--description----------*/
.profile_activity {
    margin-top: 50px;
}
.usr_prf_skills h5 {
    background: #efefef;
    margin: 20px 0;
    padding: 10px 2px;
}
i.fa.fa-circle {
    font-size: 12px;
}
.profile_title {
    background: #efefef;
    padding: 15px 0;
}
.image_profile img {
    width: 150px;
    margin-bottom: 10px;
}
/*<----------footer------------------------>*/

.footer_logo_img img{
    width: 175px;
    margin-bottom: 12px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .prod_desc_pg.text-muted p {
        font-size: 10px;
    }
}





/* Portrait phones and smaller */
@media (max-width: 480px) {
    .pricing_table{
        margin-bottom: 20px;
    }
    .prod_desc_head h4 {
        font-size: 11px;
    }
    .prod_desc_pg p {
        font-size: 5px;
    }
    .basic_proj_pg p {
        font-size: 11px;
    }
    .order_desc_pg p {
        font-size: 9px;
    }
    a.cust_name {
        font-weight: 100;
        font-size: 9px;
    }
}


.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#395cdf;/* #21610B  */
}

input:focus + .slider {
  box-shadow: 0 0 1px #21610B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}