/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-uppercase.skill_main_head p span {
       font-size: 50px;
    }
    .hero-action button {
        width: 40%;
    }
}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width:1024px) {
    .masthead {
        background-position: center;
        height: 400px;
    }
    .navbar-toggler.navbar-toggler-right {
        margin-left: 236px;
    }
    .text-uppercase.skill_main_head {
        top: 140% !important;
    }
    .text-uppercase.skill_main_head p span {
        font-size: 50px;
    }
    .hero-action{
        top: 35%;
    }
    .hero-action button {
        width: 40%;
    }
    .text-uppercase.about_main_head {
        margin-top: 17%;
    }
    .text-uppercase.about_main_head p span {
        font-size: 60px;
    }
    .aboutus_pg p {
        font-size: 27px;
    }
    .pricing_services {
        margin-top: 25px;
        padding-bottom: 55px;
    }
    .payment_gateway {
        margin: 10px;
    }
}



/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .navbar-toggler.navbar-toggler-right {
        margin-left: 200px;
    }
    .masthead {
        height: 300px;
        background-position: center;
    }
    .text-uppercase.skill_main_head {
        top: 70% !important;
        position: relative;
    }
    .text-uppercase.skill_main_head p span {
        font-size: 45px;
    }
    .hero-action {
        top: 20%;
    }
    .hero-action button {
        position: relative;
        width: 45%;
    }
    .row.vdivide button {
        width: 60%;
        font-size: 20px;
    }
    .text-uppercase.about_main_head {
        margin-top: 20%;
    }
    .text-uppercase.about_main_head p span {
        font-size: 45px;
    }
    .aboutus_pg p {
        font-size: 22px;
    }
    .pricing_box{
        padding:10px;
    }
    .img_login{
        height:auto;
    }
    .pricingTable {
        margin-top: 25px;
    }
    .pricing_services {
        margin-top: 35px;
    }
    .payment_detail {
        margin-top: 70px;
    }
    section.basic_product_main {
        margin-top: 40px;
    }
    .basic_prd_desc {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .payment_gateway {
        margin: 20px;
    }
}



/* Portrait phones and smaller */
@media (max-width: 480px) {
    .masthead {
        height: 300px;
        background-position: center;
    }
    .navbar-toggler.navbar-toggler-right {
        margin-left: 0;
    }
    .text-uppercase.skill_main_head {
        top: 130% !important;
    }
    .text-uppercase.skill_main_head p span {
        font-size: 25px;
    }
    .hero-action {
        position: relative;
        top: 30%;
    }
    .hero-action button {
        width: 70%;
    }
    .hero-action button a {
        font-size: 20px;
    }
    .index_sod_client {
        margin-top: 20px;
    }
    .text-uppercase.about_main_head {
        margin-top: 35%;
    }
    .text-uppercase.about_main_head p span {
        font-size: 38px;
    }
    .aboutus_pg p {
        font-size: 22px;
    }
    .pricing_services {
        margin-top: 25px;
    }
    .pricingTable {
        margin-top: 30px;
    }
    li.nav-item a {
        font-size: 15px;
    }
    .basic_proj_head{
        margin-top:20px;
    }
    .basic_head h1 {
        font-size: 26px;
    }
    .img_login{
        height:auto;
    }
    .tc_row {
        margin-top: 25px;
    }
    .log_in_box{
        margin-top:0px;
    }
    .payment_detail {
        margin-top: 50px;
    }
    section.basic_product_main {
        margin-top: 60px;
    }
    section.pro_product_main {
        margin-top: 155px;
    }
    section.premium_product_main {
        margin-top: 155px;
    }
    .basic_prd_desc {
        margin-top: 25px;
        margin-bottom: 10px;
    }
}


/*----------------Internet------explorer---------------------------------------*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .masthead{
        margin-top: 90px !important;
       }
    .footer_button{
        padding: 5px 80px;
    }
    .text-uppercase.skill_main_head p span {
        background-color: rgba(0, 0, 0, 0.8);
    }
    section.service_section{
        margin-top: 90px;
    }
    .services-icon{
        padding: 0px 13px 5px 12px;
    }
    .contact_us_main{
        margin-top: 96px;
    }
    .pricing_services{
        margin-top: 100px;
    }
    section.basic_product_main{
        margin-top: 135px;
    }
    section.pro_product_main{
        margin-top: 135px;
    }
    section.premium_product_main{
        margin-top: 135px;
    }
    .emp_login_box{
        background-color: rgba(0, 0, 0, 0.55);
    }
    .column_form{
        background-color: rgba(0, 0, 0, 0.55);
    }
    .payment_detail{
        margin-top: 135px;
    }
    .term_condition_main{
        margin-top: 120px;
    }
    .profile_user{
        margin-top: 135px;
    }
}



/*------------mozila-firefox-----------------------------*/
@-moz-document url-prefix() {
    .footer_button {
        padding: 5px 78px;
    }
    .navbar-toggler.navbar-toggler-right {
        margin: 0;
        padding: 0;
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .basic_head {
            font-size: 27px;
        }
    }
    .navbar-light .navbar-nav .nav-link {
        color: #FFF;
        font-weight: 600;
    }
}



/*--------------------opera-----------------------------------*/
/* Opera only */
@media all and (min-width: 0px){
    .main_head h1 {
        font-size: 39px;
    }
}
