
body {
    background-image: url("../images/back.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style:none;
}
ul li a {
    text-decoration: none;
}
.main_head {
    margin-top:20px;
}
.to_register {
    padding: 2px 6px;
    color: rgb(29, 162, 193);
    font-weight:bolder;
}
a.btn.btn-info.register {
    color: #fff;
}
a.btn.btn-danger.register {
    color: #fff;
}
.change_link {
    margin-top: 20px;
}
.change_link a {
    text-decoration:none;
}
.change_link a:hover {
    background:rgb(29, 162, 193);
    color:#fff;
}
.change_link_common {
    float:right;
}
.sub_btn {
    margin-top:25px;
}
hr.demad {
    border-width: 3px;
    border-color:#17a2b8;
    width:100px;
}
.register a{
    text-decoration: none;
    color: #fff;
}

/*-------------------index-------------------*/
.img_sod {
    position:absolute;
    width:100%;
    height:auto;
}
.row.vdivide .register {
    text-transform: uppercase;
}
/*--------------navigation--1-------*/

.navbar-light .navbar-nav .nav-link {
    color:#FFF;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#17a2b8;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    background: #fff;
}
nav#mainNav {
    position: sticky;
    top: 0;
    box-shadow: 0px 15px 11px -10px #00000073;
}

li.nav-item a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.dropdown-menu {
    padding-left: 10px !important;
}
.user_main {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
a.dropdown-toggle.user_main:hover {
    color: #fff;
    text-decoration: none;
}
.user_nav_icon {
    padding-right: 4px;
}
.header-search-wrapper {
    float: right;
    position: relative;
}
.search-main .nav_search_icon {
	display:none !important;
    font-size: 23px;
    display: block;
    line-height: 40px;
    padding: 0 14px;
    cursor: pointer;
    color: #fff;
}
.header-search-wrapper .search-form-main {
    background: #fff none repeat scroll 0 0;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.15);
    padding: 15px;
    position: absolute;
    right: 0;
    z-index: 9999;
    visibility: hidden;
}
.header-search-wrapper .search-main:hover .search-form-main {
    visibility: visible;
}
input.search-submit {
    background: #fff;
    border: 1px solid #000;
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 3px;
}
input.search-field {
    border: 1px solid #000;
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 3px;
}
input.search-submit:hover {
    border: none;
    background: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}
/*---------------------------header------------------------------*/
.deman_head {
    position:relative;
    margin-top:102px;
}
.masthead {
   background-image: linear-gradient(to bottom right, #00b0c44d, #343a400d),url(../images/index-banner.jpg);
    height: 550px;
    background-size: cover;
    margin-top: 0 !important;
    margin-bottom: 50px;
}

/*-------------------------container------------------------------------*/
.index_cont {
    margin-bottom:30px;
}
.index_sod_cln {
    background: url("../images/client.jpg") no-repeat;
    background-position: center;
    width: 100%;
}
.index_sod_client {
    background: #010f1063;
    height:100%;
    padding: 25px;
    color: #fff;
}
.index_sod_exp {
	height:100%;
    background-image: url("../images/expert.jpg");
}
.text-uppercase.skill_main_head p span {
    font-size: 85px;
    color: #fff;
    font-weight: 600;
   /*  background: #000000d4; */
    padding: 5px 30px;
}
.text-uppercase.skill_main_head {
    top: 90% !important;
    position: relative;
}

.hero-action button {
    position: relative;
    width: 21%;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px;
    background: transparent;
    border: 2px solid #fff;
}
.hero-action button:hover {
    background: rgba(0, 0, 0, 0.73);
}
.hero-action {
    position: relative;
    top: 40%;
}
.hero-action button a {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.hero-action button a:hover {
    text-decoration: none;
}
/*--------------------------About-us*/
.about_main{
    background: url("../images/aboutus.jpg") no-repeat fixed center;
    height: 450px;
    background-size: cover;
    margin-top: 0 !important;
    margin-bottom: 50px;
}
.text-uppercase.about_main_head p span {
    font-size: 85px;
    color: #fff;
    font-weight: 600;
  /*  background: #000000d4; */
    padding: 5px 30px;
}
.text-uppercase.about_main_head {
    position: relative;
    margin-top: 10%;
}
.aboutus_pg p {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
img#contact-icon {
    width: 17% !important;
    margin-top: -5px;
}
.section-heading {
    margin-top: 50px;
}
.abt_head {
    margin-top:20px;
}
.abt_img {
    margin-top:50px;
    margin-bottom:50px;
}

.row.Philosophy_list {
    margin-top: 35px;
}
/*<!----------contact-----------us--------------->*/

.contact_google_map {
    margin-bottom: 50px;
}
.contact_cst_frm {
    margin-top: 15px;
    padding: 10px;
    background: #cccccc6b;
    border-radius: 5px;
}
.contact_des_pg a {
    text-decoration: none;
    padding-right: 10px;
}
.contact_ushead {
margin-bottom: 45px;
}
.contactus_map {
padding: 0;
}
.contactus_row{
margin-top:20px;
}
.contact_des_pg {
    padding:20px 10px;
}
/*!*<!----------------Services------------------------>*!*/
/*.service_main{*/
    /*background: url("../images/services.jpg") no-repeat fixed center;*/
    /*background-size: cover;*/
/*}*/
/*.Services_head {*/
    /*margin-top: 30px;*/
    /*!* margin-bottom: 14px; *!*/
/*}*/
/*.services-icon {*/
    /*margin-bottom: 20px;*/
    /*border: 3px solid;*/
    /*display: inline-block;*/
    /*font-size: 30px;*/
    /*color: #F44336;*/
    /*border-radius: 55%;*/
    /*padding: 2px 12px 5px 12px;*/
/*}*/
/*---------------technology-----------------------*/
.techn_main{
    background: linear-gradient(to bottom right, #00b0c4fc, #343a400d),url(http://nsi.com.br/wp/wp-content/uploads/2018/04/tecnologias3.jpg) no-repeat fixed center;
    height: 450px;
    background-size: cover;
    margin-top: 0 !important;
    margin-bottom: 50px;
}
.tech_mrow {
    padding: 40px;
}
.tech_mpad {
    border-top: 1px solid #ccc;
}
.img_alltech {
    padding: 10px;
}
/*-------------------log-in-page----------------------------------------*/
.img_login{
    width:100%;
    height:129%;
}
a.forget_psw {
    outline: none;
}
/*---------------------sign-up------------------------------------------------*/
.img_signup{
    width:100%;
    height:100%;
}
.signup_column {
    padding-bottom: 10px;
}
/*---------------------pricing------------table--------------------------*/
.pricing_services {
    margin-top:25px;
    padding-bottom:55px;
}
.container.price-table {
    margin-top: 35px;
}
.pricingTable {
    padding: 30px 0;
    border: 1px solid #043565;
    text-align: center;
    color: #043565;
    position: relative;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover {
    background: #25ced1;
    border-color: #fff;
    color: #fff;
}
.pricingTable:before {
    content: "";
    border-top: 45px solid #043565;
    border-bottom: 45px solid transparent;
    border-right: 45px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover:before {
    border-top-color: #fff;
}
.pricingTable:after {
    content: "";
    border-bottom: 45px solid #043565;
    border-top: 45px solid transparent;
    border-left: 45px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover:after {
    border-bottom-color: #fff;
}
.pricingTable .title {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.pricingTable .price-value {
    font-size: 40px;
    margin-bottom: 40px;
}
.pricingTable .month {
    display: block;
    font-size: 25px;
    line-height: 10px;
    text-transform: capitalize;
}
.pricingTable .pricing-content {
    padding: 20px 0 0;
    margin: 0 40px 20px;
    list-style: none;
    font-size: 16px;
    line-height: 40px;
    border-top: 1px solid #043565;
    position: relative;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover .pricing-content {
    border-top-color: #fff;
}
.pricingTable .pricing-content:before {
    content: "\f1b3";
    font-family: fontawesome;
    width: 70px;
    background: #fff;
    font-size: 30px;
    margin: 0 auto;
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover .pricing-content:before {
    background: #25ced1;
}
.pricingTable .pricingTable-signup {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 10px;
    border: 1px solid #043565;
    font-size: 18px;
    font-weight: 600;
    color: #043565;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover .pricingTable-signup {
    color: #fff;
    border-color: #fff;
}
a.pricingTable-signup:hover{
    text-decoration: none;
}
/*-------------basic---pro--premium-----products-----------------*/
section.basic_product_main {
    margin-top: 45px;
}
.back_page a {
    text-decoration: none;
    margin-bottom: 20px;
    color: #17a2b8;
    font-size: 20px;
}
section.pro_product_main {
    margin-top: 45px;
}
section.premium_product_main {
    margin-top: 45px;
}
.basic_head {
    color: #fff;
    font-weight: 600;
    padding:15px;
    margin-bottom: 25px;
    background: linear-gradient(to right,#03A9F4 , #fff);
}

.bp_main_head {
    color:#fff;
    font-weight:600;
}
.product_basic {
    margin-bottom:30px;
    padding:10px;
}
.product_basic:nth-child(odd) {
    margin-bottom:30px;
    background: linear-gradient(to right,#9e9e9e4f , #fff);
}
.product_basic:hover {
    box-shadow: 4px 4px 5px -2px #00000026;
    background:#00bcd40a;
}
.Img_prd_a {
    padding-top:5px;
}
.basic_proj_pg {
    font-size:15px;
}
.readMore {
    font-weight: 600;
    float:right;
    color:rgb(29, 162, 193);
}
.readMore:hover {
    text-decoration:none;
    color: #33739E;
    /*transition:all .2s linear;*/
}
/*.hovereffect img {*/
    /*display:block;*/
    /*position:relative;*/
    /*-webkit-transition:all .4s linear;*/
    /*transition:all .4s linear;*/
/*}*/
/*.hovereffect:hover img {*/
    /*transform:scale(1.2);*/
/*}*/
/*-------------basic---pro--premium-----products------Description-------------------*/
.basic_prd_img {
    padding:15px;
    border:1px solid #ccc;
}
.img_desc {
    margin-top:10px;
}
.basic_prd_desc {
    padding: 15px;
    background-color: #fbfbfb;
    border: 1px solid #eee;
}

.label-danger {
    background-color:rgb(29, 162, 193);
    color: #fff;
}
.label1 {
    padding: .2em .6em .3em;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-radius: .25em;
}
.highlight {
    padding: .2em .6em .3em;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    border-radius: .25em;
}
/*-------------------------Oreder-list--------------------------------------*/


.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
}
@media (min-width: 48em) {
    .responsive-table {
        font-size: .9em;
    }
}
@media (min-width: 62em) {
    .responsive-table {
        font-size: 1em;
    }
}
.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
.responsive-table thead th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;
}
.responsive-table thead th:first-of-type {
    text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
}
.responsive-table th,
.responsive-table td {
    padding: .5em;
    vertical-align: middle;
}
@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }
}
@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
        padding: .5em;
    }
}
@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em .5em;
    }
}
@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
        padding: .75em;
    }
}
.responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 48em) {
    .responsive-table caption {
        font-size: 1.5em;
    }
}
.responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
}
@media (min-width: 62em) {
    .responsive-table tfoot {
        font-size: .9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody {
        display: table-row-group;
    }
}
.responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #1d96b2;
}
@media (min-width: 48em) {
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}
.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}
@media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1);
    }
}
.responsive-table tbody th[scope="row"] {
    background-color: #1d96b2;
    color: white;
}
@media (min-width: 48em) {
    .responsive-table tbody th[scope="row"] {
        background-color: transparent;
        color: #5e5d52;
        text-align: left;
    }
}
.responsive-table tbody td {
    text-align: right;
}
@media (min-width: 30em) {
    .responsive-table tbody td {
        border-bottom: 1px solid #1d96b2;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td {
        text-align: center;
    }
}
.responsive-table tbody td[data-type=currency] {
    text-align: right;
}
.responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
        font-size: .9em;
    }
}
@media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
        content: none;
    }
}



/*-----------employement-----------application--------------form-----------------------*/
.app_form_main {
    background:url(../images/expert_app_form.jpg) no-repeat center center fixed;
    /*background: linear-gradient(to bottom,#03A9F4 , #fff);*/
    background-size:cover;
}
.form_heading {
    color:#fff;
}
.column_form {
    padding-bottom: 10px;
    background:#0000008f;
}
.name_form {
    color:#FFF;
}
/*-----------------employement----------------log-----------------------in------------------*/
.emp_ligin_main {
    background:url(../images/exp_login.png) no-repeat center center fixed;
}
.emp_login_box {
    margin-top:80px;
    padding-bottom:30px;
    background-color:#000000bd;
}
.emp_login_common {
    color:#fff;
}
/*----------------user-----------profile*/
.profile_user{
    margin-top: 40px;
}

/*-------------job-detail---------------*/
section.job_desc_main {
    margin-top: 34px;
}
.prof_updt_seek {
    color: #fff;
    margin-bottom: 10px;
}
.list_common {
    margin-top:10px;
    margin-left:20px;
}
.detail_button {
    float:right;
    margin-bottom:10px;
}
.card.common_jobcard {
    margin-top: 25px;
}
.job_descr_cont{
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}
a.card-title.job_heading {
    font-weight: 500;
    font-size: 20px;
    color: #17a2b8;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    color: #17a2b8;
    content: "\f068";
    float: right;
    opacity: 0.9;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067 ";
}

/*-------------Contract Management-----------------------*/
.term_condition_main {
    margin-top:45px;
}
.row.contract_main {
    margin-top: 30px;
}
.accept_rd_button {
    margin-top:20px;
}
.next_btn_tc {
    float:right;
    margin-top:10px;
    margin-bottom:10px
}
.scrollbar {
    height: 900px;
    width: 100%;
    overflow-y: scroll;
}

.row.tc_row {
    padding: 10px;
}
.form_cmgmt {
    box-shadow: 0 0 17px 0 #00000033;
    border-bottom-left-radius: 50px;
    padding: 25px;
    border-top-right-radius: 50px;
}
.term_row {
    margin-bottom: 25px;
    margin-top:15px;
}
.trm_cnd_pgrph {
    padding:10px;
}
.form-control-file {
  margin-top: 20px;
}
/*-----------------payment----------gateway---------------*/
.payment_main {
    border:1px solid #ccc;
    border-radius: 5px;
}
.payment_detail {
    margin-top: 50px;
}
.payment_head {
    background:#dedede;
    padding:20px;
    border-bottom:1px solid #aaa;
}
.payment_form {
    padding:20px;
}
/*------------user--------profile-------description-------*/
.user_img_uld {
    position: relative;
    overflow: hidden;
}
.user_img_upload {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}
/*--------------footer-------------*/
.footer {
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer_pg_list ul li a {
    color:#ccc;
    text-decoration:none;
}
.footer_line {
    background:#fff;
}
.footer_pg_list ul li a:hover {
    color:#fff;
}
.footer_button {
    padding: 5px 65px;
    margin-top: 0px;
}
.social_list ul li a {
    color:#ccc;
    font-size:20px;
    float:right;
    padding-left:20px;
}
.social_list ul li a:hover {
    color:#fff;
}
p.text-white {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.footer_copyright p {
    font-weight: 100 !important;
    font-size: 13px;
}
input[type=text].rupee {
    background-image: url(http://i.imgur.com/Fd7NROx.png);
    padding: 5px;
    padding-left: 20px;
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: 8px 10px;
}